/*===============================================================
Products
===============================================================*/
.drink-products-body {
  .drink-products-thumbnail {
    height: 300px;
    width: 100%;
    margin: 10px 0 20px 0;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .drink-products-main {
    .drink-products__filter-bar {
      .product-info {
        .product-title:hover {
          color: #000;
        }
      }

      .products-filter__item {
        margin-top: 10px;

        .filter-item__desc {
          font-size: 14px;
          color: #5f6769;
        }
      }

      .filter-item__category {
        .filter-category__items {
          .category-items__title {
            font-size: 16px;
            text-transform: uppercase;
            color: #5f6769;
          }

          .category-items__list {
            .category-items__name {
              font-size: 14px;
              color: #5f6769;
              text-transform: capitalize;
            }

            .active,
            .category-items__name:hover {
              list-style: disc;
              color: #d69f1e;
              margin-left: 18px;
              cursor: pointer;
            }
          }
        }
      }

      .filter-item__thumb {
        width: 100%;
        height: auto;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }

    .drink-products__list {
      .products-list__control-bar {
        margin-top: 17px;
        width: 100%;
        border: 1px solid #9ba6a5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;

        .control-bar__icon {
          display: flex;

          & a {
            display: flex;
            align-items: center;
            padding-left: 10px;

            & img {
              margin-top: auto;
              margin-bottom: auto;
              height: 20px;
              width: 20px;
            }
          }
        }

        .products-list__pagination {
          & ul {
            & li {
              & a {
                border: none;
                color: #9ba6a5;
              }

              & a:hover, & a:focus {
                background-color: transparent;
                box-shadow: none;
              }
            }

            .active {
              & a {
                background-color: transparent;
                color: #f96d00;
              }
            }
          }
        }
      }
    }
  }
}
